fastapi==0.118.0
huggingface_hub==0.35.0
langchain==0.3.27
langchain_community==0.3.30
langchain_core==0.3.76
langchain_openai==0.3.33
pydantic==2.11.9
python-dotenv==1.1.1
qdrant_client==1.15.1
requests==2.32.5
uvicorn==0.37.0
python-multipart==0.0.20
pypdf==6.1.0
